<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "Suite">
    <test name = "Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name = "com.test.testcases.TestCase7"/>
            <class name = "com.test.testcases.TestCase1"/>
            <class name = "com.test.testcases.TestCase2"/>
            <class name = "com.test.testcases.TestCase3"/>
            <class name = "com.test.testcases.TestCase4"/>


        </classes>
    </test>
</suite>